:root{
	--Background:#121212;
	--Accent:#1DB954;
	--Text:#FFF;
	--LightGrey:#212121;
}
html{
    height: 100%;
}
body{
	background-color: var(--Background);
	font-family: 'Poppins', sans-serif;
}
.navbar{
	width: 100%;
	height: 4.5rem;
	flex-shrink: 0;
	margin:-8px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.60);
	background: var(--Background);
	position: fixed;
    z-index: 6;
}
.navbar ul{
	list-style-type: none;
	vertical-align: middle;
	padding: 0;
	overflow: hidden;
}
.navbar li a{
	float: right;
	font-size: 1.8rem;
	font-weight: 600;
	display: block;
	color: var(--Text);
	text-align: center;
	margin-left: 1rem;
    margin-top: auto;
	margin-right: 1rem;
	text-decoration: none;
	transition: all 0.3s;
}
.navbar li h3{
    font-size: 2.25rem;
	font-weight: 700;
	display: block;
	color: var(--Text);
	text-align: center;
	margin-left: 1rem;
	margin-right: 1rem;
    margin-top: 0;
	text-decoration: none;
	transition: all 0.3s;
}
.navbar li:first-child{
	float:left;
	font-size: 2.25rem;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}
.navbar li a:hover{
	color:var(--Accent);
	transform: translateY(-2px);
}
.navbar li a:link, nav li a:visited{
	text-decoration: none;
}
.login{
	background-color: var(--LightGrey);
    position:fixed;
    top:0%;
    right: 0%;
	height: 100%;
	width: 28rem;
	float: right;
	margin: -8px;
	margin-top: 8px;
}
.login-form{
	width: 24rem;
	height: auto;
    padding-top: 20rem;
	margin: 0 auto;
	position: relative;
}

.playlist-wrap {
	display:flex;
	align-items: center;
	justify-content: center;
}

.playlists {
	display:flex;
	flex-wrap:wrap;
	align-items: center;
    justify-content: center;
}

.playlist {
	margin: 1rem;
	background-color: var(--Text);
	padding: 2rem;
	padding-top: 2rem;
	border-radius: 1rem;
	font-size: 2rem;
    transition: all 0.35s;
    z-index: 1;
}
.playlist:hover{
	transform: translateY(-1rem);
}

.playlist-img {
	width: 17rem;
	height: 17rem;
}

.space {
	height: 7rem;
}
.highlight{
    color:var(--Accent);
}
.hook{
    background-image: url("background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.hook h3{
    font-size: 4rem;
    color:#FFF;
    text-align: right;
    padding: 2rem;
    vertical-align: center;
}