:root{
	--Background:#121212;
	--Accent:#1DB954;
	--Text:#FFF;
	--LightGrey:#212121;
}
html{
    height: 100%;
}
body{
	background-color: var(--Background);
	font-family: 'Poppins', sans-serif;
}
.navbar{
	width: 100%;
	height: 4.5rem;
	flex-shrink: 0;
	margin:-8px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.60);
	background: var(--Background);
	position: fixed;
}
.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.navbar li a{
	float: right;
	font-size: 1.8rem;
	font-weight: 600;
	display: block;
	color: var(--Text);
	text-align: center;
	margin-left: 1rem;
	margin-right: 1rem;
	text-decoration: none;
	transition: all 0.3s;
}
.navbar li:first-child{
	float:left;
	font-size: 2.25rem;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}
.navbar li a:hover{
	color:var(--Accent);
	transform: translateY(-2px);
}
.navbar li a:link, nav li a:visited{
	text-decoration: none;
}
.login{
	background-color: var(--LightGrey);
    position:fixed;
    top:0%;
    right: 0%;
	height: 100%;
	width: 28rem;
	float: right;
	margin: -8px;
	margin-top: 8px;
}
.login-form{
	width: 24rem;
	height: auto;
    padding-top: 20rem;
	margin: 0 auto;
	position: relative;
}