:root{
	--Background:#121212;
	--Accent:#1DB954;
	--Text:#FFF;
	--LightGrey:#212121;
}
html{
    height: 100%;
}
body{
	background-color: var(--Background);
	font-family: 'Poppins', sans-serif;
}
.navbar{
	width: 100%;
	height: 4.5rem;
	flex-shrink: 0;
	margin:-8px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.60);
	background: var(--Background);
	position: fixed;
    top: 0;
	margin-top: 0px;
}
.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.navbar li a{
	float: right;
	font-size: 1.8rem;
	font-weight: 600;
	display: block;
	color: var(--Text);
	text-align: center;
	margin-left: 1rem;
	margin-right: 1rem;
	text-decoration: none;
	transition: all 0.3s;
}
.navbar li:first-child{
	float:left;
	font-size: 2.25rem;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}
.navbar li a:hover{
	color:var(--Accent);
	transform: translateY(-2px);
}
.navbar li a:link, nav li a:visited{
	text-decoration: none;
}
.upload_bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25rem;
	display: none;
}
.upload_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.upload_text {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--Text);
    text-align: center;
    margin-bottom: 1rem;
}

.load {
    width: 100%;
    height: 0.5rem;
    background-color: var(--LightGrey);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.upload-button {
    padding: 20px 40px;
    background-color: var(--Accent);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    position: relative;
	margin-top: 250px;
	left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
}

.songs-label {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--Text);
	text-align: center;
	margin-bottom: 1rem;
}

.songs-range {
	background-color: var(--LightGrey);
	position: relative;
	display: inline-block;
	width: 25%;
	height: 100%;
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--Text);
	text-align: center;
	margin-bottom: 1rem;
	/* center horizontally */
	left: 50%;
	transform: translate(-50%, -50%);
}

.upload-button:hover {
	background-color: #1aa34a;
}

html, body {
	 min-height: 100%;
}
 .loader {
	 position: absolute;
	 top: 0px;
	 bottom: 0px;
	 left: 0px;
	 right: 0px;
	 margin: auto;
	 width: 175px;
	 height: 100px;
     margin-top: 15rem;
	 display: none;
}
 .loader span {
	 display: block;
	 background: #ccc;
	 width: 7px;
	 height: 10%;
	 border-radius: 14px;
	 margin-right: 5px;
	 float: left;
	 margin-top: 25%;
}
 .loader span:last-child {
	 margin-right: 0px;
}
 .loader span:nth-child(1) {
	 animation: load 2.5s 1.4s infinite linear;
}
 .loader span:nth-child(2) {
	 animation: load 2.5s 1.2s infinite linear;
}
 .loader span:nth-child(3) {
	 animation: load 2.5s 1s infinite linear;
}
 .loader span:nth-child(4) {
	 animation: load 2.5s 0.8s infinite linear;
}
 .loader span:nth-child(5) {
	 animation: load 2.5s 0.6s infinite linear;
}
 .loader span:nth-child(6) {
	 animation: load 2.5s 0.4s infinite linear;
}
 .loader span:nth-child(7) {
	 animation: load 2.5s 0.2s infinite linear;
}
 .loader span:nth-child(8) {
	 animation: load 2.5s 0s infinite linear;
}
 .loader span:nth-child(9) {
	 animation: load 2.5s 0.2s infinite linear;
}
 .loader span:nth-child(10) {
	 animation: load 2.5s 0.4s infinite linear;
}
 .loader span:nth-child(11) {
	 animation: load 2.5s 0.6s infinite linear;
}
 .loader span:nth-child(12) {
	 animation: load 2.5s 0.8s infinite linear;
}
 .loader span:nth-child(13) {
	 animation: load 2.5s 1s infinite linear;
}
 .loader span:nth-child(14) {
	 animation: load 2.5s 1.2s infinite linear;
}
 .loader span:nth-child(15) {
	 animation: load 2.5s 1.4s infinite linear;
}
 @keyframes load {
	 0% {
		 background: darkgreen;
		 margin-top: 25%;
		 height: 10%;
	}
	 50% {
		 background: var(--Accent);
		 height: 100%;
		 margin-top: 0%;
	}
	 100% {
		 background: darkgreen;
		 height: 10%;
		 margin-top: 25%;
	}
}
 