<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='album.css') }}">
        <script src="{{ url_for('static', filename='album.js') }}"></script>
        <title>Songsnap</title>
    </head>
    <body>
      <div class="navbar">
        <ul>
            <li><h3>Songsnap</h3></li>
            <li><a href="/logout" id="qsLogoutBtn">Logout</a></li>
        </ul>
    </div>
    </body>
</html>
