<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Songsnap</title>
    <script src="https://cdn.auth0.com/js/auth0/9.11/auth0.min.js"></script>
    <script type="text/javascript">
        var auth0Client = new auth0.WebAuth({
        clientID: '{yourClientId}',
        domain: '{yourDomain}'
        });
        auth0Client.crossOriginVerification();
    </script>
</head>
<body>
    {% if session %}
    <div class="login">
        <div class="login-form">
            <input type="username" placeholder="username" required><br>
            <input type="password" placeholder="password" required><br>
            <input type="submit" value="submit">
        </div>
    </div>
    <div class="navbar">
        <ul>
            <li><a>Songsnap</a></li>
            <li><a href="/logout" id="qsLogoutBtn">Logout</a></li>
        </ul>
    </div>
    {% else %}
    <div class="navbar">
        <ul>
            <li><a>Songsnap</a></li>
            <li><a href="/loginform" id="qsLoginBtn">Login</a></li>
        </ul>
    </div>
    {% endif %}
</body>
</html>

