<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
    <script src="{{ url_for('static', filename='upload.js') }}"></script>
    <title>Songsnap</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a>Songsnap</a></li>
        </ul>
    </div>

    <input class="upload-button" type="file" accept="image/*" onchange="handleImageUpload(event)"/>

    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="upload_bar">
        <div class="upload_section">
            <p class="upload_text">Image Upload</p>
            <div class="load" id="load1"></div>
        </div>
        <div class="upload_section">
            <p class="upload_text">GPT-4 Vision</p>
            <div class="load" id="load2"></div>
        </div>
        <div class="upload_section">
            <p class="upload_text">Cohere Summary</p>
            <div class="load" id="load3"></div>
        </div>
        <div class="upload_section">
            <p class="upload_text">GPT-3.5 Generation</p>
            <div class="load" id="load4"></div>
        </div>
    </div>
</body>
</html>

